@import '../../assets/scss/breakpoints.scss';
@import '../../assets/scss/variables.scss';


.weather{
    background:#000;
    width:100%;
    padding:11px;
    margin:  auto;
    height:100vh;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__background{
        transition:1s;
        position: absolute;
        top:0;
        left:0;
        z-index:0;
        height:100%;
        width:100%;
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        opacity:.5;
    }
    &__change{
        position:relative;
        width:100%;
        margin-top: 11px;
        padding:11px;
        border:none;
        background:rgb(0,0,0);
        border:1px solid white;
        color:#fff;
        cursor:pointer;
        border-radius:3px;
        font-size:1rem;
        transition: .5s;
        font-weight:700;
        &:hover, &:active{
            background:#ddd;
            color:#333;
        }
    }
}

@include bp-tablet{
    .weather{
        height:100vh;
    }
}