.description{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1em .5em;
    &__title{
        text-transform: capitalize;
        font-size: 1.5em;
        line-height: 1em;
        margin-bottom: .5em;
        color:#fff;
        letter-spacing: 1px;
    }
    &__feel{
        position: relative;
        color:#ccc;
        font-size: 1em;
        letter-spacing: 1px;
        small{
            font-size:.8em;
            line-height:1em;
        }
        span{
            font-size:.8em;
            line-height:.8em;
            vertical-align:top;
        }
    }
}

